*venv*
__pycache__
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyz
.env

# Flutter/FVM
*/.fvm/flutter_sdk
*/.fvm/.flutter-plugins
*/.fvm/.flutter-plugins-dependencies
*/.fvm/.packages
*/.fvm/pubspec.lock